<md-toolbar color="primary" md-scroll-shrink>
  <button md-button [md-menu-trigger-for]="menuPetitEcran" #menuTrigger="mdMenuTrigger" *showItBootstrap="['xs', 'sm', 'md']">
    <md-icon>menu</md-icon>
  </button>

  <md-menu #menuPetitEcran="mdMenu">
    <button md-menu-item routerLink="/" routerLinkActive="active">
      Accueil
    </button>
    <button md-menu-item routerLink="/concours" routerLinkActive="active">
      Concours
    </button>
    <button md-menu-item routerLink="/carte" routerLinkActive="active">
      Carte
    </button>
    <button md-menu-item routerLink="/chat" routerLinkActive="active">
      Chat
    </button>
  </md-menu>

	<span routerLink="/">My Geopetank</span>
  <ul *hideItBootstrap="['xs', 'sm', 'md']">
    <li>
      <button md-button routerLink="/chat" routerLinkActive="active">
        Chat
      </button>
    </li>
    <li>
      <button md-button routerLink="/carte" routerLinkActive="active">
        Carte
      </button>
    </li>
    <li>
      <button md-button routerLink="/concours" routerLinkActive="active">
        Concours
      </button>
    </li>
  </ul>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

	<div *ngIf="!user.auth">
    <button md-raised-button color="accent" [md-menu-trigger-for]="menu" #menuTrigger="mdMenuTrigger">
      Se connecter
    </button>
    <md-menu #menu="mdMenu">
      <button class="btn-icon-connexion" md-menu-item (click)="loginGoogle()">
        <img  src="../../assets/svg/custom-google-plus.svg" />
        Se connecter avec Google
      </button>
      <button class="btn-icon-connexion" md-menu-item (click)="loginFacebook()">
        <img src="../../assets/svg/custom-facebook.svg" />
        Se connecter avec Facebook
      </button>

    </md-menu>
	</div>

  <div *ngIf="user.auth">
    <span>{{user.auth?.displayName}}</span>
    <!--<img class="icon" [src]="user.auth?.photoUrl">-->
  </div>

  <div *ngIf="user.auth" id="div-deconnecter">
    <button md-raised-button color="accent" (click)="logout()">
      Se déconnecter
    </button>
  </div>

</md-toolbar>
