
<app-my-toolbar></app-my-toolbar>
<header>
	<div class="hero background-superhero-paper is-large">
		<h1 class="text-headline">My Geopetank</h1>
	</div>
</header>

<article class="layout intro">
	<div class="intro-rows">
		<div layout="row" layout-xs="column" class="layout-xs-column layout-row intro-row">
			<div class="flex intro-text">
				<h3 class="text-headline"> Comment chercher un boulodrome ?</h3>
				<div class="text-body">
					En se déplaçant sur la carte directement, puis clic sur le marqueur dans la carte, on a
					<ul>
					 	<li>Le secteur et la ville.</li>
					 	<li>L'adresse du terrain.</li>
					 	<li>terrain couvert ou pas.</li>
					</ul>
					En tapant le nom de la ville ou du club cherché dans la zone de recherche, on a
					<ul>
						<li>Le secteur, ville, adresse et couvert.</li>
						<li>La liste de tout les concours organisés par le club.</li>
					</ul>
				</div>
			</div>
			<div class="flex intro-img">
				<img src="../assets/carte_boulodrome_presentation.png"/>
			</div>
		</div>
	</div>
</article>
<!--<app-my-boulodromes></app-my-boulodromes>-->

<!--<app-my-accueil></app-my-accueil>-->