/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '../node_modules/ng2-flex-layout/dist/ng2-flex-layout.css';

body{
	font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 14px;
  color: #546E7A;
}

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.md-sidenav-container, md-sidenav{
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 14px;
  color: #546E7A;
}
.layout-flex{
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.flex-20{
  width: 20%;
}

.flex-80{
  width: 80%;
}

.flex-33{
  width: 33%;
}

.big-8x{
  font-size: 8em;
}

.big-12x{
  font-size: 12em;
}
.md-display-2{
  font-size: 32px;
  font-weight: 600;
}
